@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4">WELCOME</h2>
        <br />
        <h4 class="display-2">Login in for more</h4>
    </div>
</div>
